body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;

	margin-left: 25px;
	margin-right: 25px;
	max-width: 100%;

}

p.playtitle {
  position:fixed;
  left:0;
  top:10px;
  /* height:1rem; */
  padding: .6rem;
  color:white;
  font-family: verdana, sans-serif;
  z-index: 20;
  margin:0;
}



section.play {
	border-style:none;
}
/* This extra style rule here makes sure that the linked location is not hidden inder the fixed header */
h1 a, h2 a {
  margin-top: -2.4rem;
  padding-bottom: 2.4rem;
  display:block;
  background: white;
}
img.center {display: block;
  margin-left: auto;
  margin-right: auto;
  }



	div.video-box {
		position: relative;
		padding-bottom: 10%;
		padding-top: 50%;
		height: 60%;
		overflow: hidden;
		margin-bottom: 12px;
	}

div.video-box iframe {
	display: block;
	position: absolute;
	top: 10%;
	left: 0;
	width: 60%;
	height: 60%;
}

a.menu {
  position:fixed;
  top:0px;
  right:80px;
  color:white;
  padding: .6rem;
  color:white;
  font-family: verdana, sans-serif;
  font-size:.8em;
  z-index: 20;
  margin:0;
}

a.menu:hover {
  color:red;
  cursor:pointer;
}
.contents {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background: black;
  font-family: verdana, sans-serif;
  font-size:.8em;
  height:3.5rem;
}

#navigation {
	float:right;

}

ul.TOC-Heading-1 {
  position:fixed;
  top:0px;
right: 80px;
	color:#000000;
	font-family:"Avenir Medium", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.129;
	margin-bottom:6px;


}
p.TOC-Heading-2 {
	color:#000000;
	font-family:Avenir, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:23px;
	margin-right:0;
	margin-top:0;

}
a {
  text-decoration: none;
}

nav {
    font-family: Alegreya;
}

ul {
  background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
		top: 2rem;

}
#navigation:target {
  width: 30%;
}


#navigation:target {
  width: auto;
}

h1.act {
	-epub-hyphens:none;
	color:#000000;
	font-family:Alegreya, serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.722;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
padding-top: 20px;
text-align: center;
}
p.character {
	-epub-hyphens:none;
	color:#7b78b1;
	font-family:Leander, serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;

}
p.charactername {
	-epub-hyphens:none;
	color:#283583;
	font-family:"Georgia", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:2px;
	margin-left:0;
	margin-right:6px;
	margin-top:0;

}
h1.dramatishead {
	-epub-hyphens:none;
	color:black;
	font-family:Georgia, serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:2;
	margin: 60px;
	text-align: center;
}
h2.firstscene {
	-epub-hyphens:none;
	color:#dc674c;
	font-family:Alegreya, serif;
	font-size:23px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.313;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	text-align: center;

}
p.lastlineinverse {
	-epub-hyphens:none;
	color:#000000;
	font-family:Alegreya, serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1;
	margin-bottom:17px;
	margin-left:54px;
	margin-right:0;
	margin-top:0;
	text-indent:-11px;

}
h2.location {
	-epub-hyphens:none;
	color:#283583;
	font-family:Alegreya, serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;

}
p.prose {
	-epub-hyphens:none;
	color:#000000;
	font-family:Alegreya, serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:2px;
	margin-left:43px;
	margin-right:0;
	margin-top:0;

}
h2.scene {
	-epub-hyphens:none;
	color:#dc674c;
	font-family:Alegreya, serif;
	font-size:23px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.167;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
text-align:center;
}
p.song {
	-epub-hyphens:none;
	color:#000000;
	font-family:Alegreya, serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:122px;
	margin-right:0;
	margin-top:0;

}
h2.stagedirection {
	-epub-hyphens:none;
	color:#000000;
	font-family:Alegreya, serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.083;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:1;

}
p.verseline {
	-epub-hyphens:none;
	color:#000000;
	font-family:Alegreya, serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1;
	margin-bottom:10px;
	margin-left:54px;
	margin-right:0;
	margin-top:0;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
	text-transform:none;
	widows:1;
}
span.character_role {
	color:#d47db2;
}
span.italic {
	font-style:italic;
	font-weight:normal;
}
span.stage_directions_inline {
	color:#009fe3;
	font-variant:normal;
	text-transform:none;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
	margin-bottom:6px;
	margin-top:9px;
	page-break-before:always;
	text-align:center;
}
p.ParaOverride-2 {
	text-align:center;
}
span.CharOverride-1 {
	color:#4c4c4c;
	font-family:Georgia, serif;
	font-size:20px;
	font-style:normal;
	font-weight:bold;
	text-decoration:underline;
}
span.CharOverride-2 {
	font-size:12px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}



p.playtitle {
  position:fixed;
  left:0;
  top:0;
  /* height:1rem; */
  padding: .6rem;
  color:white;
  font-family: verdana, sans-serif;
  font-size:.8em;
  z-index: 20;
  margin:0;
}

.playtitle a {
	color:white;
	font-size: 16px;
	font-family: "Lucida Console", monospace;
}

a.menu {
  position:fixed;
  top:0;
  right:0;
  color:white;
  padding: .6rem;
  color:white;
  font-family: verdana, sans-serif;
  font-size:12px;
  z-index: 20;
  margin:0;
}

a.menu:hover {
  color:red;
  cursor:pointer;
}



.contents {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background: black;
  font-family: verdana, sans-serif;
  font-size:.8em;
  height:2.4rem;
}

a {
  text-decoration: none;
}

ul {
    list-style: none;
    font-size: 1em;
    margin: 0;
    padding-left: 0;
    float:right;
    overflow: hidden;
    background:darkorange;
    width:0;
    position:relative;
    top: 2rem;

}

#navigation:target {
  width: 30%;
}

li {
    color: #fff;
    display: block;
    padding: .3rem .5rem;
    position: relative;
    text-decoration: none;
    min-width: 4rem;
}




li a {
  color: #fff;
}

li:hover a {
    cursor: pointer;
}



ul li ul {
  display:block;
  width:100%;
  padding:0;
  left: 0;
  font-size: .7em;
  /* display: none; */
  float:none;
  margin:0;
  position:static;
}

ul li ul li {
min-width:4rem;
}

ul li:hover > ul, ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}


/* now follows the media query that displays everyhing correctly on wider screens */

@media only screen and (min-width: 720px) {

h1.act, h1.dramatishead {
  font-size: 200%;
}

section.play {
	border-style:solid;
	padding: 10px

}

ul {
  width:auto;
  float:right;
  overflow:visible;
  position:static;
  top:inherit;

}


li {
  display:inline-block;
  height:1.2rem;
  padding: .6rem .5rem;
}

a.menu {
  display:none;
}

ul li ul {
  background: rgb(120, 120, 120);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: .8rem 0;
  padding:0;
  left: 0;
  float:right;
}

li:hover {
    background: rgb(120, 120, 120);
    cursor: pointer;
}

ul li ul li:hover {
background: rgb(96, 99, 89);
}

li:hover a {
  color:white;
}

#navigation:target {
  width: auto;
}

p.prose, p.verseline {
margin: 0 12px 0 60px;
text-align:justify;}

p.prose {
  margin-bottom: 12px;
}

}
