


body {
  font-family: verdana, arial, sans-serif;
padding-left:30px;
padding-right:30px;
}
.content {

  border: 10px
}
h1 {
color:#34ccb1 ;
font-family: georgia, serif;
font-size: 5vw

}
ul {padding-top: 30px;
padding-left: 30px;
}
p {margin: 20px;
padding-right: 30px;
padding-top: 10px
}

div.everything {
  padding: 10px 10px;
  margin: 10px auto;
  width: 90%;
  border:3px solid black;
  background: grey;
}

img {
  display: block;
max-width: 20%;
margin: 20px auto;
float:right;
padding-left: 30px;
padding-right:30px;

}
